<!--
  Generated template for the Item page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{item.info.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    {{item.info.description}}
  </ion-item>
  <ion-item>
    {{item.info.price}}
  </ion-item>
  
  <button ion-button color="light" ion-right (click) = "addCart(item.data)">Adicionar ao Carrinho</button>
</ion-content>
