<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
    </button>
    <ion-buttons start clear>
      <button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let shop of shops" (click)="selectStore(shop)">
      {{ shop.info.name }}
    </ion-item>
  </ion-list>
  <!--button ion-button (click)="logout()">Logout</button>
  <button ion-button (click)="getinfo()">Getinfo</button-->
</ion-content>




<!--ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <button ion-button clear (click)="logout()">
      <ion-icon name="log-out" item-left></ion-icon>
    </button>

    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let carro of carros" (click)="seleciona(carro)">
      {{ carro.nome }}
    </ion-item>
  </ion-list>
</ion-content-->
